
@{
    ViewData["Title"] = "Index";
}

<h1>Manage Category</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-sm" id="tbl_Category">
            <thead class="bg-info text-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Category/category.js"> </script>

}