
@{
    ViewData["Title"] = "Index";
}

<h1>Manage Category</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <p class="text-right">
            <a asp-controller="Suppliers" asp-action="Upsert" class="btn btn-success btn-sm"><i class="fa-solid fa-circle-plus"></i>&nbsp; Add New Supplier</a>
        </p>
        <table class="table table-bordered table-striped table-sm" id="tbl_supplier">
            <thead class="bg-info text-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Opening Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Supplier/supplier.js"> </script>

}